/* BlogCard.css */
.project-card {
    background-color: #f0f3f7; /* Light background color */
    border-radius: 12px; /* Soften edges */
    box-shadow: 2px 2px 10px #b8c0ca, 
              -2px -2px 10px #ffffff; /* Neumorphism box shadow */
    overflow: hidden;
    margin-bottom: 20px;
  }
  
.project-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card-content {
  padding: 20px;
}

.project-card-title {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.project-card-description {
  margin-bottom: 10px;
  color: #666;
}

.project-card-tags {
  margin-bottom: 10px;
}

.project-card-tag {
  margin-right: 5px;
  padding: 4px 8px;
  background-color: #ffffff;
  color: #333;
  border-radius: 4px;
  font-size: 14px;
}
  

  /* Styles for checkout button */
.project-checkout-button {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  background-color: #e0e5ec; /* Button color */
  color: #333; /* Text color */
  border: none;
  border-radius: 8px; /* Soften edges */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: -2px -2px 10px #b8c0ca, 
             -2px -2px 10px #ffffff;/* Neumorphism box shadow */
}

.project-checkout-button:hover {
  background-color: #c8d0da ;
  box-shadow: 4px 4px 20px #b8c0ca, 
             -4px -4px 20px #ffffff; /* Adjusted neumorphism box shadow on hover */
}

  /* Media query for screens below 480px */
  @media screen and (max-width: 480px) {
    .project-card {
      margin-left: 5px; /* Adjust left margin */
      margin-right: 5px; /* Adjust right margin */
    }
  }